html{
    font-size: 100%;
    scroll-behavior: smooth;
}
body {
  max-width: 100%;   
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}



/* HEADER */
#active{

  transition: background-color 1.5s, color 1.5s; 
  box-shadow: 0px 7px 20px black;
  border: 2px solid white;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 70px;
  padding: 3vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0,0,0,0.3);
  box-shadow: 0px 1px 40px black;
  backdrop-filter: blur(2px);
  z-index: 10;
}
#toursHeader {
  background: rgba(95,158,160,0.7);
}
.nav {
  display: flex;
  gap: 40px;
}
.nav a{ 
    background-color: transparent; 
    font-size: 1.5rem; 
    padding: 1vw; padding-left: 2vw;  padding-right: 2vw; 
    text-decoration: none; 
    text-align: center; 
    color: white; 
    border-radius: 50px; 
    border: 2px solid transparent; 
    transition: box-shadow 1.5s, background-color 1.5s, color 1.5s; 
} 
.nav a:hover{ 
    color: cadetblue; 
    background-color: white; 
    border: 2px solid white; 
    box-shadow: 0px 7px 20px black; 
}
.hamburger {
  display: none;
}






/*SLIDE SHOW index*/
.slider {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
#video, #video2 {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  opacity: 0;
  transition: opacity 0.6s ease;
}
#box1 {
  position: absolute;
  top: 30%;
  width: 100%;
  text-align: center;
}
#travel{
    color: white;
    font-size: 3vw;
    margin: 0;
}
#season {
  color: white;
  font-size: 10vw;
  margin: 0;
  margin-top: 1vw;
}
#login {
  display: inline-block;
  margin-top: 1vw; 
  padding: 1vw; padding-left: 2vw; padding-right: 2vw;
  background-color: rgba(0, 0, 0, 0.3);  
  color: white;
  border-radius: 30px;
  text-decoration: none;
  font-size: 1.5rem;
  transition: background-color 1.5s, color 1.5s; 
  box-shadow: 0px 7px 20px black;
  backdrop-filter: blur(2px);
  border: 2px solid white;
}
#login:hover{ 
    color: cadetblue; 
    background: white;
}
.hr1{ height: 1vw; 
    width: 100%; 
    background-color: rgba(0, 0, 0, 0.4); 
    box-shadow: 0px 7px 20px black; 
    position: absolute; margin-top: 0; 
    border: none;
    z-index: 2; 
}





/*CONTENT index*/
.content {
  min-height: 150vh;
  background: white;
  padding: 50px;
}











/*FOOTER*/
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  max-width: 100%;

  padding: 15px;
  color: white;
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  box-shadow: 0px 1px 40px black;
}
.footer-left, .footer-right {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.socials {
  display: flex;
  gap: 10px;
}
footer img {
  width: 20px;
  height: 20px;
  transition: 0.2s ease;
  
}
footer img:hover {
  width: 20px; 
  height: 20px; 
  border: 1px solid white; 
  border-radius: 90px;
}
footer p {
  margin: 0;
  font-size: 20px;
}
.footer-right {
  text-align: right;
}
footer a {
  color: black;
  text-decoration: none;
}
footer a:hover {
  color: white;
}
/*MOBILE*/

@media (max-width: 768px) {
/*MOBILE index*/    
#box1 {
    top: 40%;
  }

/*MOBILE HEADER*/  
.nav {
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    background: rgba(0,0,0,0.3);
    backdrop-filter: blur(2px);
    flex-direction: column;
    align-items: center;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
  }
.nav.open{
    max-height: 300px;
    box-shadow: 0px 1px 10px black; 
  }
.hamburger {
    display: block;
    font-size: 32px;
    background: none;
    border: none;
    color: white;
  }
/*MOBILE INDEX*/
#season{
  font-size: 15vw;
}
#travel{
  font-size: 4vw;
}

/*MOBILE FOOTER*/
footer {
    flex-direction: column;
    text-align: center;
    gap: 20px;
  }
.footer-right {
    text-align: center;
  }
.socials {
    justify-content: center;
  }
}
/*TABLET*/
@media (min-width: 768px) and (max-width: 1024px)  {  

/*TABLET HEADER*/
.header{
  padding: 2vw;
  height: auto;
}
.nav a{
  font-size: 4vw;
}



/*TABLET index*/
#box1 {
    top: 40%;
  }

#season{
    font-size: 15vw;
}
#travel{
    font-size: 4vw;
}
#login{
  font-size: 4vw;
  border-radius: 99px;
}

/*TABLET FOOTER*/
footer p{
  font-size: 25px;
}
footer img{
  width: 30px;
  height: 30px;
}

}
  








